<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <title>당신의 향은 무엇일까요?</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        div.background {
            position: relative;
            width: 1400px;
            height: 100vh;
            background-size: cover;
            background: radial-gradient(#FFE4E1, #FFC0CB, #E6749D);
            text-align: center;
        }

        .wrap {
            width: 1400px;
            height: 100vh;
            margin: 10px auto;
        }

        .story {
            padding: 5px 10px;
            text-align: left;
        }

    </style>

</head>
<body>
<div class="wrap">
    <div class="story">
        <p>눈을 떠보니 꿈속입니다.<br>
        저쪽에 촛불이 보이네요.<br>
        눈을 비비며 촛불에 다가가보니 메모가 적혀있습니다.</p>

         <p>“ 다음 질문미션을 완료하지 않으면 당신은 꿈에서 깨어나지 못합니다!<br>
        당신의 향을 꼭 찾아보세요 ”</p>

        <p>당신은 이제 모든질문을 마쳐야만 꿈에서 깨어날 수 있습니다.<br>
        질문을 볼때마다 눈을 감고 잠시 향에 대한 추억에 잠겨 보세요<br>
        후각은 기억을 관할하는 뇌의 부분을 자극하는 역할을 하고 있습니다.<br>
        몸이 기억하고 있는 내가 좋아하는 향을 골라야합니다.</p>

        <p>질문을 마치고 꿈에서 깨면 나를 드러내는 향이 무엇인지<br>
        알 수 있을거예요.<p>
    </div>
    <button type="button" class="btn btn-outline-secondary">시작해 볼까요?</button>
    <div class="background"></div>
</body>
</html>